<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <img src="https://techiral.github.io/ui/assets/img/logo.png" width="50%" height="50%">
                </div>
                <span class="b-title">Increhub</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>    
                <li class="nav-item pcoded-menu-caption">
                    <label>Tools</label>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-chrome"></i></span><span
                            class="pcoded-mtext">Social Tools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/title_generator" class="">YouTube Title Generator</a></li>
                        <li class=""><a href="/description_generator" class="">YouTube Description Generator</a></li>
                        <li class=""><a href="/script_generator" class="">Video Script Generator</a></li>
                        <li class=""><a href="/tweet_generator" class="">Tweets Ideas Generator</a></li>
                        <li class=""><a href="/post_generator" class="">Facebook Post Generator</a></li>
                        <li class=""><a href="/caption_generator" class="">Instagram Caption Generator</a></li>
                        <li class=""><a href="/hashtag_generator" class="">Instagram HashTags Generator</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Writing Tools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/blog_generator" class="">Blog Headline Generator</a></li>
                        <li class=""><a href="/blog_post_generator" class="">Blog Script Generator</a></li>
                        <li class=""><a href="/story_generator" class="">Story Generator</a></li>
                        <li class=""><a href="/lyrics_generator" class="">Song Lyrics Generator</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sunrise"></i></span><span
                            class="pcoded-mtext">Startup Tools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/startup_idea_generator" class="">Startup Idea Generator</a></li>
                        <li class=""><a href="/slogan_generator" class="">Slogan Generator</a></li>
                        <li class=""><a href="/next_product_idea_generator" class="">Next Product Idea Generator</a></li>
                        <li class=""><a href="product_description_generator" class="">Product Description Generator</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-mail"></i></span><span
                            class="pcoded-mtext">E-mail Tools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/cold_e-mail_generator" class="">Cold E-mail Generator</a></li>
                        <li class=""><a href="/welcome_e-mail_generator" class="">Welcome E-mail Generator</a></li>
                        <li class=""><a href="/cancellation_e-mail_generator" class="">Cancellation E-mail Generator</a></li>
                        <li class=""><a href="/verification_e-mail_generator" class="">Verification E-mail Generator</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-cpu"></i></span><span
                            class="pcoded-mtext">Programming Tools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/github_readme_generator" class="">Project Markdown Generator</a></li>
                        <li class=""><a href="/python_code_generator" class="">Python Code Generator</a></li>
                        <li class=""><a href="/ai_coach" class="">AI Programming Coach</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-star"></i></span><span
                            class="pcoded-mtext">Fun Tools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/hero-villian_story_generator" class="">Hero-Villian Story Generator</a></li>
                        <li class=""><a href="/horror_story_generator" class="">Horror Story Generator</a></li>
                        <li class=""><a href="/fairy-tales_generator" class="">Fairy Tales Generator</a></li>
                        <li class=""><a href="/lyrics_generator" class="">Song Lyrics Generator</a></li>
                        <li class=""><a href="/love_letter_generator" class="">Love Letter Generator</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
