{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <h1><strong><b>Essentials 🛠️ :</b></strong></h1>
                        <br>
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h3 class="mb-4">📦</h3>
                                            <h3 class="mb-4"><b>Product Descriptions</b></h3>
                                            <p><b>Generate product descriptions that sell</b></p>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <a href='/product_description_generator'>
                                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><button data-original-title="btn btn-dark" class="btn btn-dark">Use Tool</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ daily sales section ] end-->
                                <!--[ Monthly  sales section ] starts-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h3 class="mb-4">📝</h3>
                                            <h3 class="mb-4"><b>Blog Scripts</b></h3>
                                            <p><b>Create engaging, original content your blog readers will love without any work.</b></p>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <a href='/blog_post_generator'>
                                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><button data-original-title="btn btn-dark" class="btn btn-dark">Use Tool</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h3 class="mb-4">▶️</h3>
                                            <h3 class="mb-4"><b>Video Script</b></h3>
                                            <p><b>Create YouTube videos that get views</b></p>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <a href='/script_generator'>
                                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><button data-original-title="btn btn-dark" class="btn btn-dark">Use Tool</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h3 class="mb-4">📧</h3>
                                            <h3 class="mb-4"><b>Cold E-mails</b></h3>
                                            <p><b>Generate a professional and formal email for new startups based on your own taste.</b></p>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <a href='/cold_e-mail_generator'>
                                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><button data-original-title="btn btn-dark" class="btn btn-dark">Use Tool</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ daily sales section ] end-->
                                <!--[ Monthly  sales section ] starts-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h3 class="mb-4">🤖</h3>
                                            <h3 class="mb-4"><b>AI Coach</b></h3>
                                            <p><b>AI Coach is an AI-powered coach that solves most of your coding queries and errors, helps you learn programming. It can also teach you coding.</b></p>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <a href='/ai_coach'>
                                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><button data-original-title="btn btn-dark" class="btn btn-dark">Use Tool</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h3 class="mb-4">🧚</h3>
                                            <h3 class="mb-4"><b>Fairy Tales</b></h3>
                                            <p><b>Make fairy tales fun again with this wonderful tool.</b></p>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <a href='/fairy-tales_generator'>
                                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><button data-original-title="btn btn-dark" class="btn btn-dark">Use Tool</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end --> 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}


